.product_listing_container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  overflow-y: scroll;
  background: radial-gradient(circle at center, #2f4a63 0%, #15202b 85%);

  .listing {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
