.card_skeleton {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 14px;
  margin: 8px 50px;
  background-color: #e0e0e0;
  width: 50%;
}

.skel-line {
  height: 15px;
  background: #d0d0d0;
  border-radius: 4px;
  margin-bottom: 8px;
}

.skel-line.full {
  width: 100%;
}
