.homepage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  background: radial-gradient(circle at center, #2f4a63 0%, #15202b 85%);

  h2 {
    font-size: large;
  }
}
